[submodule "external/lib/mach-glfw"]
	path = external/lib/mach-glfw
	url = https://github.com/hexops/mach-glfw
[submodule "external/lib/zlm"]
	path = external/lib/zlm
	url = https://github.com/ziglibs/zlm
[submodule "external/lib/zig-string"]
	path = external/lib/zig-string
	url = https://github.com/JakubSzark/zig-string
